<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>recording-servlet</servlet-name>
    <servlet-class>org.coderthoughts.servlet.recording.RecordingServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>recording-servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
